.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

p {
  text-align: center;
  color: #5b6273;
  opacity: 0.8;
  font-family: "Cantarell", sans-serif;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
}

.forecastRow b {
  font-weight: bold;
}
.nextHours img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.fullForecast {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #424242;
  font-family: "Cantarell", sans-serif;
  color: #5b6273;
  max-width: 600px;
  margin: 30px auto;
}

.todayTitle {
  font-weight: bold;
  font-size: 15px;
  color: #424242;
}

.weatherContent {
  background-color: #74ebd5;
  margin: 10px;
  padding: 20px;
}

.conversion {
  position: relative;
  font-size: 16px;
  top: -25px;
}

.active {
  color: #424242;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  cursor: default;
}

.date {
  font-size: 15px;
  padding: 0px 0px 0px 0px;
}

.todaytemp {
  font-size: 60px;
}

.country {
  font-size: 50px;
}

.country,
.todaytemp {
  font-weight: bold;
  color: #424242;
  text-align: center;
  padding: 15px 0px 0px 0px;
  vertical-align: middle;
}

.weathertoday {
  padding: 20px;
  text-align: left;
}

.nextHours {
  color: #424242;
  text-align: center;
  max-width: 500px;
}

.forecastRow {
  background-color: rgb(159, 172, 230, 0.6);
  border-radius: 20px;
  padding: 5px 5px;
  margin: 10px 10px;
  text-align: center;
}

.forecastRow:hover {
  background: #fff;
  border-radius: 50px;
}
